<!--  /albums/:id  -->

<!-- Form -->
<h2>ADD A TRACK</h2>

<%= bootstrap_form_for track, url: tracks_url, method: "POST", id: "add_track_form" do |f| %>
  <!-- pass album_id as hidden field in case not going through Album#show -->
  <%= f.hidden_field :album_id, value: album.id %>
  <%= f.text_field :name %>
  <%= f.time_select :length %>
  <%= f.select :track_type, options_for_select([["bonus", "bonus"], ["regular", "regular"]], "regular") %>

  <%= f.text_area :lyrics %>

<%= f.submit "add a track", :class => "btn btn-primary" %>
<% end %>
