<div>
<div class="col-md-4 col-sm-6 portfolio-item">
<!-- 		<a href="#portfolioModal<%= idx %>" class="portfolio-link" data-toggle="modal">
				<div class="portfolio-hover">
						<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
						</div>
				</div>
				<img src="img/portfolio/golden.png" class="img-responsive" alt="">
		</a> -->
	
<a href="/albums/<%= id %>">
	<%= image_tag("albums/escape-preview.png", class: "img-responsive") %>
	</a>
	<div class="portfolio-caption">
		<a href="/albums/<%= id %>">
			<h4><%= album.name %> </h4>
		</a>
		<p class="text-muted text-genre-tags">
			<% if album.genres.empty? %>
				<br>
			<% else %>
				<%= taggify(album.genres) %>
			<% end %>
		</p>
	</div>

</div>
