<!-- Add Album modal -->
<div class="portfolio-modal modal fade modal-bands-defaults" tabindex="-1" role="dialog" id="add-album-modal" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 edit-modal-body">
          <div class="modal-body">

            <!-- Form -->
            <h2>Add an Album</h2>

            <%= bootstrap_form_for album, url: albums_url, method: "POST", id: "add_album_form" do |f| %>
            <%= f.text_field :name %>
            <%= f.select :band_id, options_for_select(bands.map{|b| [b.name, b.id] }, band.id), include_blank: true, label: "Band: ", class: "selectpicker" %>
            <%= f.form_group :album_type, label: { text: "album type" } do %>
              <%= f.radio_button :album_type, "studio", label: "Studio", checked: true %>
              <%= f.radio_button :album_type, "live", label: "Live" %>
            <% end %>
            <!-- album[genre_ids][], value: "1"-->
            <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :category, label: "Genre Category" %>

            <%= f.submit "submit a new album", :class => "btn btn-primary" %>
            <% end %>

            <!--
            <button type="button" class="btn btn-primary" data-dismiss="modal"> Close</button> -->
          </div><!-- modal-body -->
        </div>
      </div>
    </div><!-- container -->
  </div>
</div>
