<!-- Edit Band -->
<div class="portfolio-modal modal fade modal-bands-defaults" tabindex="-1" role="dialog" id="edit-band-modal" aria-hidden="true">
		<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
						<div class="lr">
								<div class="rl">
								</div>
						</div>
				</div>
	<div class="container">
			<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 edit-modal-body">
							<div class="modal-body">

	<!-- Form -->
	<h2>Edit <%= band.name %></h2>

	<%= bootstrap_form_for band, url: band_url(band), method: "patch", id: "edit_band_form" do |f| %>
		<%= f.text_field :name %>
		<%= f.date_field :date_created, label: 'Date Founded' %>
		<%= f.text_area :description %>
		<%= f.submit "update", :class => "btn btn-primary" %>
	<% end %>

<!--
<button type="button" class="btn btn-primary" data-dismiss="modal"> Close</button> -->
										</div><!-- modal-body -->
								</div>
						</div>
				</div><!-- container -->
    </div>
 </div>
